<div class="card mb-3" style="width: 50vw; margin: auto; top: 2rem; background-color: #242526">
  <div class="card-body">
    <form [formGroup]="addTaskForm">
      <h2 class="card-title textColor">Add Task</h2>
      <div class="mb-3 d-flex flex-column">
        <div class="flex-grow-1">
          <label for="taskName" class="form-label">Name</label>
          <input type="text" class="form-control"
                 id="taskName" formControlName="taskName">
          <div class="invalid-feedback" *ngIf="addTaskForm.controls['taskName'].invalid && addTaskForm.controls['taskName'].touched">
            task name is required
          </div>
        </div>

        <div class="flex-grow-1">
          <label for="taskDesc" class="form-label">Description</label>
          <input type="text" class="form-control"
                 id="taskDesc" formControlName="taskDesc">
        </div>

        <div class="flex-grow-1">
          <label class="form-label" for="team">Team</label>
          <select class="form-control" id="team" formControlName="team">
            <option *ngFor="let team of teamsNames" [value]="team.id">{{team.name}}</option>
          </select>
        </div>

        <div class="flex-grow-1">
            <label class="form-label" for="assignedUser">Assigned user</label>
            <select class="form-control" id="assignedUser" formControlName="assignedUser">
              <option *ngFor="let teamMember of teamMembers" [value]="teamMember.id">{{teamMember.name}} {{teamMember.surname}}</option>
            </select>
        </div>
        <br>
        <button id="submitBtn" [disabled]="!isFormValidValue" type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
