<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px; height: 96vh; background-color: #242526" >
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Teams</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-secondary" aria-current="page" routerLinkActive="text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Add manager
      </a>
    </li>
    <li>
      <a routerLink="{{routesEnum.Create}}" href="#" class="nav-link text-secondary" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: false}">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Create team
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-secondary" routerLinkActive="text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Show teams
      </a>
    </li>
  </ul>
  <hr>
</div>
