<div class="card mb-3 wrapper">
  <div class="card-body">
    <h1>Getting started with work logger</h1>
    <div>
      <p>1. Use the login credentials provided in my resume to access the application.</p>
      <img src="assets/login.png" alt="">
    </div>

    <div>
      <p>2. The navigation bar at the top provides easy access to different sections of the application. Use this to explore the features.</p>
      <img src="assets/nav.png" alt="">
    </div>

    <div>
      <p>3. Adding New Users: Navigate to the "Users" section to add new users to the system.</p>
      <img class="h200" src="assets/add_user.png" alt="">
    </div>

    <div>
      <p>4. Forming Teams: Create teams and assign users to them in the "Teams" section. </p>
      <img src="assets/add_team.png" alt="">
    </div>

    <div>
      <p>5. Creating Tasks: Create new tasks to track your work hours and progress.</p>
      <img class="h200" src="assets/add_task.png" alt="">
    </div>

    <div>
      <p>6. Managing Task Details: View and update task details, including logging hours spent on each task. </p>
      <img class="h250" src="assets/task_details.png" alt="">
    </div>

    <div>
      <p>7. Accessing Reports: Go to the "Reports" tab to generate excel reports for each team. You can customize the reports by selecting the desired time period. </p>
      <img class="h200" src="assets/get_report.png" alt="">
    </div>

  </div>
</div>
