@import 'ngx-toastr/toastr';
.textColor, label
{
  color: #d0d2d6;
}

#toast-container > div {
  opacity: 1 !important;
}

.wrapper
{
  max-width: 30rem;
  margin: auto;
  top: 2rem;
  background-color: #242526
}
