.full-width-table {
  margin-top: 35px;
  width: 45vw;
}

th, td {
  width: 100%;
  display: block;
}

th
{
  background-color: rgb(36, 37, 38);
}

.full-width-table tr {
  display: flex;
}

mat-header-cell
{
  background-color: #242526;
  color: white
}
.header
{
  width: 50vw;
  margin: auto;
  top: 2rem;
  background-color: #242526
}


